/*
This file is used to contain all base imports.
Files inside this folder can contain global styles used in the project.
*/
s .font--color--primary {
  color: #222222;
}

.font--color--second {
  color: #767676;
}

.font--color--third {
  color: #C32929;
}

.--yellow {
  color: #EEBA36;
}

/******************************************************************************
**************                  SIZE                        *******************
******************************************************************************/
.font--size--XL {
  font-size: 6.25rem;
}

.font--size--1XL {
  font-size: 4.375rem;
}

.font--size--L {
  font-size: 2.188rem;
}

.font--size--LM {
  font-size: 1.625rem;
}

.font--size--SLM {
  font-size: 1.375rem;
}

.font--size--M {
  font-size: 1.125rem;
}

.font--size--SM {
  font-size: 1rem;
}

.font--size--S {
  font-size: 0.875rem;
}

.font--size--XS {
  font-size: 0.813rem;
}

/******************************************************************************
**************                  WEIGHT                        *******************
******************************************************************************/
.--big--bold {
  font-weight: 700;
}

.--bold {
  font-weight: 500;
}

.--light {
  font-weight: 400;
}

.--uppercase {
  text-transform: uppercase;
}

.--section--title {
  text-align: center;
  margin-bottom: 30px;
}

.button__footer__subscribe {
  padding: 10px 15px;
  margin-left: -55px;
  background: transparent;
  border: none;
  text-transform: uppercase;
}

.button__black {
  background: #222222;
  color: #FFFFFF;
  border: none;
  padding: 20px 50px;
}

.button__black__product {
  margin-left: 10%;
  width: 60%;
}

.button__black__comment {
  margin-top: 20px;
  padding: 20px 70px;
}

/* Additonal Base Stylesheets */
.input__footer__subscribe {
  padding: 15px 20px;
  width: 80%;
  border: none;
}

.input__location__search {
  padding: 15px 20px;
  width: 80%;
}

.input__product__number {
  padding: 20px 20px;
  width: 20%;
  border: 2px solid #E4E4E4;
  text-align: center;
}

.input__comment {
  width: 100%;
  margin-top: 20px;
  border: 2px solid #E4E4E4;
  padding: 10px 20px;
}

.input__comment:focus {
  color: #222222;
}

.input__comment__checkbox {
  margin-top: 20px;
}

a {
  text-decoration: none;
}

a:visited, a:link {
  color: #222222;
}

.product__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product__list .product__hidden {
  visibility: hidden;
}
.product__list .product {
  width: 48%;
  margin-bottom: 20px;
}
.product__list .product .product__img {
  width: 100%;
}
.product__list .product .product__img img {
  width: 100%;
  height: 250px;
}
.product__list .product .product__infos__type {
  margin-bottom: 5px;
}
.product__list .product .product__like {
  margin-left: 75%;
}
@media (min-width: 980px) {
  .product__list .product__hidden {
    visibility: visible;
  }
  .product__list .product {
    width: 22%;
    margin-bottom: 50px;
  }
  .product__list .product .product__img {
    width: 100%;
  }
  .product__list .product .product__img img {
    width: 100%;
  }
}

/*
This file is used to contain all component imports.
Files inside this folder can contain specific element styles and layout.
*/
body {
  margin: 0;
  background-color: #FFFFFF;
  font-family: sofia-pro, sans-serif;
}

.body__error {
  background-image: url("./assets/img/pattern_bg__oops.svg");
  background-size: 100% auto;
}

.main__navigation {
  width: 100%;
  text-transform: uppercase;
  vertical-align: middle;
  padding: 20px 0;
}
.main__navigation .mobile__navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.main__navigation .desktop__navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  visibility: hidden;
  height: 0;
}
.main__navigation .link__menu {
  width: 50%;
  margin-left: 20px;
}
.main__navigation .icon__menu {
  text-align: right;
  width: 30%;
  color: #222222;
}
.main__navigation .icon__menu li + li {
  margin-left: 10%;
}
.main__navigation ul {
  list-style-type: none;
  padding: 0;
}
.main__navigation ul li {
  display: inline;
  vertical-align: middle;
}
.main__navigation ul li a {
  text-decoration: none;
}
.main__navigation ul li a:visited, .main__navigation ul li a:link {
  color: #222222;
}
.main__navigation ul li a:hover {
  border-width: 2px;
}
.main__navigation ul li + li {
  margin-left: 2%;
}
@media (min-width: 990px) {
  .main__navigation .desktop__navigation {
    visibility: visible;
    height: auto;
  }
  .main__navigation .mobile__navigation {
    visibility: hidden;
    height: 0;
  }
}

footer {
  background-color: #E4E4E4;
}
footer .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  margin-left: 3%;
}
footer .container .company__infos {
  width: 100%;
}
footer .container .company__infos .company__address {
  margin: 40px 0;
}
footer .container .company__infos .company__social {
  margin-top: 40px;
}
footer .container .company__infos .company__social span + span {
  margin-left: 10%;
}
footer .container .company__infos .company__contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
footer .container .footer__nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
footer .container .footer__nav div {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}
footer .container .footer__subscribe {
  width: 100%;
}
footer .container .footer__subscribe .img__footer__payment {
  width: 80%;
}
footer .container .footer__copyright {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  border-top-style: solid;
  border-width: 1px;
  border-color: #CFCDCD;
}
footer .container .footer__copyright .selection__copyright {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
footer .container .footer__copyright .selection__copyright .language__selection {
  padding-top: 20px;
  width: 100%;
}
footer .container .footer__copyright .selection__copyright .currency__selection {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
footer .container .footer__copyright .selection__copyright span + span {
  margin-left: 10%;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer ul li {
  vertical-align: middle;
}
footer ul li a {
  text-decoration: none;
}
footer ul li a:visited, footer ul li a:link {
  color: #222222;
}
footer ul li a:hover {
  color: #767676;
}
footer ul li + li {
  margin-top: 20px;
}
@media (min-width: 990px) {
  footer {
    background-color: #E4E4E4;
    padding: 50px 0;
  }
  footer .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
  }
  footer .container .company__infos {
    width: 20%;
  }
  footer .container .footer__nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
  }
  footer .container .footer__nav div {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
  }
  footer .container .footer__subscribe {
    width: 30%;
  }
  footer .container .footer__copyright {
    margin-top: 50px;
    padding-top: 30px;
    width: 100%;
  }
  footer .container .footer__copyright .selection__copyright {
    text-align: right;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  footer .container .footer__copyright .selection__copyright .language__selection {
    width: 60%;
  }
  footer .container .footer__copyright .selection__copyright .currency__selection {
    width: 30%;
  }
  footer .container .footer__copyright .selection__copyright span + span {
    margin-left: 5%;
  }
}

.container {
  width: 90%;
  margin-left: 5%;
}
@media (min-width: 980px) {
  .container {
    width: 80%;
    margin: auto;
  }
}

.container__small {
  width: 95%;
  margin: auto;
  margin-bottom: 50px;
}
@media (min-width: 980px) {
  .container__small {
    width: 61%;
    margin: auto;
    margin-bottom: 140px;
  }
}

.main__index .section__uomo {
  margin-top: 50px;
}
.main__index .section__uomo .product__image__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main__index .section__uomo .product__image__list .product__image {
  width: 30%;
}
.main__index .section__uomo .product__image__list .product__image img {
  width: 100%;
  height: 150px;
}
.main__index .section__collection .collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main__index .section__collection .collection .item {
  background-color: #F2F3F7;
  width: 100%;
  min-height: 250px;
  max-height: 250px;
}
.main__index .section__collection .collection .collection__women img {
  margin-left: 30%;
  width: 70%;
  height: 100%;
}
.main__index .section__collection .collection .collection__women .collection__women__text {
  margin-top: -160px;
  margin-left: 7%;
  width: 50%;
}
.main__index .section__collection .collection .collection__women .collection__women__text .collection__text__title {
  margin: 5px 0;
}
.main__index .section__collection .collection .collection__group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10px;
}
.main__index .section__collection .collection .collection__group .collection__group__men img {
  margin-left: 50%;
  width: 50%;
  height: 100%;
}
.main__index .section__collection .collection .collection__group .collection__group__men .collection__group__men__text {
  margin-top: -155px;
  margin-left: 7%;
  width: 40%;
}
.main__index .section__collection .collection .collection__group .collection__group__men .collection__group__men__text .collection__text__title {
  margin: 5px 0;
}
.main__index .section__collection .collection .collection__group .collection__group__kid__gift {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main__index .section__collection .collection .collection__group .collection__group__kid__gift .collection__group__kid .collection__group__kid__text {
  margin-top: -155px;
  margin-left: 7%;
  width: 40%;
}
.main__index .section__collection .collection .collection__group .collection__group__kid__gift .collection__group__kid .collection__group__kid__text .collection__text__title {
  margin: 5px 0;
}
.main__index .section__collection .collection .collection__group .collection__group__kid__gift .collection__group__kid img {
  width: 60%;
  margin-left: 40%;
  height: 100%;
}
.main__index .section__collection .collection .collection__group .collection__group__kid__gift .collection__group__gift {
  margin-top: 10px;
}
.main__index .section__collection .collection .collection__group .collection__group__kid__gift .collection__group__gift .collection__group__gift__text {
  width: 60%;
  margin-top: 50px;
  margin-left: 7%;
}
.main__index .section__collection .collection .collection__group .collection__group__kid__gift .collection__group__gift .collection__group__gift__text .collection__text__title {
  width: 40%;
}
.main__index .section__collection .collection .collection__group .collection__group__kid__gift .collection__group__gift .collection__group__gift__text .collection__text__p {
  margin: 10px 0;
}
.main__index .section__gender {
  margin-bottom: 20px;
}
.main__index .section__gender .gender {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main__index .section__gender .gender .gender__women__text {
  margin-top: -100px;
  margin-left: 5%;
  letter-spacing: 0.6px;
  color: white;
}
.main__index .section__gender .gender .gender__men__text {
  margin-top: -100px;
  margin-left: 5%;
}
.main__index .section__gender .gender .gender__filter {
  background-color: red;
}
.main__index .section__gender .gender .gender__filter .gender__women {
  mix-blend-mode: darken;
}
.main__index .section__gender .gender .gender__filter .gender__women {
  width: 100%;
  background-color: #EAE9E7;
}
.main__index .section__gender .gender .gender__filter .gender__women .gender__women__img {
  width: 70%;
  margin-left: auto;
}
.main__index .section__gender .gender .gender__filter .gender__women .gender__women__img img {
  width: 100%;
  max-height: 250px;
  min-height: 250px;
}
.main__index .section__gender .gender .gender__men {
  padding-top: 10px;
}
.main__index .section__gender .gender .gender__men .gender__men__img {
  width: 100%;
}
.main__index .section__gender .gender .gender__men .gender__men__img img {
  width: 100%;
  max-height: 250px;
  min-height: 250px;
}
.main__index .section__discover__background {
  width: 100%;
  margin: 0;
  background-image: url("./assets/img/bg_mobile.svg");
  margin-bottom: 100px;
}
.main__index .section__discover__background .discover .discover__img {
  margin-top: -310px;
  margin-left: 40%;
  width: 65%;
  height: 530px;
  background-image: url("./assets/img/grimpe1.jpg");
  background-size: cover;
}
.main__index .section__discover__background .discover .section__discover__text {
  width: 80%;
  padding-top: 200px;
}
.main__index .section__discover__background .discover .section__discover__text .section__discover__title {
  font-size: 1.875rem;
  margin: 0;
}
.main__index .section__trendyProduct {
  margin-bottom: 20px;
}
.main__index .section__trendyProduct .trendyProduct__buttons {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main__index .section__trendyProduct .trendyProduct__buttons .trendyProduct__button {
  width: 33%;
  margin-bottom: 10px;
  cursor: pointer;
}
.main__index .section__trendyProduct .trendyProduct__buttons .trendyProduct__button__new .trendyProduct__button__new__border {
  width: 50%;
  margin-top: 5px;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #222222;
}
.main__index .section__trendyProduct .product__list {
  max-height: 750px;
}
.main__index .section__trendyProduct .trendyProduct__show__more {
  width: 40%;
  cursor: pointer;
  margin: auto;
  color: #222222;
}
.main__index .section__trendyProduct .trendyProduct__show__more .trendyProduct__show__more__border {
  width: 50%;
  margin-top: 5px;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #222222;
}
.main__index .section__springCollection {
  background-color: #F5E6E0;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.main__index .section__springCollection .springCollection .springCollection__text {
  padding-top: 50px;
}
.main__index .section__springCollection .springCollection .springCollection__text .springCollection__button {
  width: 25%;
  margin-bottom: 30px;
  cursor: pointer;
}
.main__index .section__springCollection .springCollection .springCollection__text .springCollection__button .springCollection__button__border {
  width: 40%;
  margin-top: 5px;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #222222;
}
.main__index .section__springCollection .springCollection .springCollection__text .springCollection__title {
  margin-top: 0;
  margin-bottom: 0;
}
.main__index .section__springCollection .springCollection .springCollection__text .springCollection__timer .springCollection__timer__time span + span {
  margin-left: 7%;
}
.main__index .section__springCollection .springCollection .springCollection__text .springCollection__timer .springCollection__timer__title {
  color: #767676;
}
.main__index .section__springCollection .springCollection .springCollection__text .springCollection__timer .springCollection__timer__title span + span {
  margin-left: 4.5%;
}
.main__index .section__slider {
  margin-bottom: 100px;
}
.main__index .section__slider .product__list {
  max-height: 300px;
}
.main__index .section__infos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 30px;
}
.main__index .section__infos .section__infos__support {
  margin-top: 20px;
}
.main__index .section__infos .section__infos__delivery {
  margin-top: 100px;
}
.main__index .section__infos .section__infos__guarentee {
  margin-top: 100px;
}
.main__index .section__infos div {
  width: 100%;
}
@media (min-width: 990px) {
  .main__index .section__uomo {
    margin-bottom: 100px;
  }
  .main__index .section__uomo .product__image__list .product__image {
    width: 15%;
  }
  .main__index .section__uomo .product__image__list .product__image img {
    width: 100%;
    height: 150px;
  }
  .main__index .section__gender {
    margin-bottom: 100px;
  }
  .main__index .section__gender .gender {
    width: 100%;
  }
  .main__index .section__gender .gender .gender__women__text {
    margin-left: -81%;
    margin-top: 200px;
    letter-spacing: 0.6px;
    color: white;
  }
  .main__index .section__gender .gender .gender__men__text {
    margin-left: -80%;
    margin-right: 32%;
    margin-top: 200px;
    letter-spacing: 0.6px;
  }
  .main__index .section__gender .gender .gender__filter {
    width: 48%;
    height: 100%;
  }
  .main__index .section__gender .gender .gender__filter .gender__women {
    width: 100%;
    background-color: #EAE9E7;
  }
  .main__index .section__gender .gender .gender__filter .gender__women .gender__women__img {
    width: 70%;
    margin-left: auto;
  }
  .main__index .section__gender .gender .gender__filter .gender__women .gender__women__img img {
    width: 100%;
    min-height: none;
    max-height: none;
    height: 300px;
  }
  .main__index .section__gender .gender .gender__men {
    width: 48%;
    margin-top: -10px;
  }
  .main__index .section__gender .gender .gender__men .gender__men__img {
    width: 100%;
  }
  .main__index .section__gender .gender .gender__men .gender__men__img img {
    width: 100%;
    min-height: none;
    max-height: none;
    height: 300px;
  }
  .main__index .section__discover {
    margin-bottom: 100px;
  }
  .main__index .section__discover .section__discover__background {
    width: 93%;
    margin: auto;
    background-image: url("./assets/img/bg.svg");
    background-size: 100%;
  }
  .main__index .section__discover .section__discover__background .discover {
    padding-bottom: 9px;
    height: 100%;
  }
  .main__index .section__discover .section__discover__background .discover .discover__img {
    margin-top: -460px;
    margin-left: 65%;
    width: 25%;
    background-size: cover;
  }
  .main__index .section__discover .section__discover__background .discover .section__discover__text {
    width: 80%;
    padding-top: 300px;
    margin-left: -50px;
  }
  .main__index .section__discover .section__discover__background .discover .section__discover__text .section__discover__title {
    font-size: 4.375rem;
  }
  .main__index .section__collection {
    margin-bottom: 100px;
  }
  .main__index .section__collection .collection .item {
    background-color: #F2F3F7;
    max-height: none;
    min-height: none;
  }
  .main__index .section__collection .collection .collection__women {
    width: 48%;
  }
  .main__index .section__collection .collection .collection__women .collection__women__text {
    margin-top: -130px;
    margin-left: 4%;
  }
  .main__index .section__collection .collection .collection__group {
    width: 48%;
    margin-left: 10px;
  }
  .main__index .section__collection .collection .collection__group .collection__group__men {
    margin-top: -10px;
  }
  .main__index .section__collection .collection .collection__group .collection__group__men .collection__group__men__text {
    margin-top: -120px;
    margin-left: 3%;
  }
  .main__index .section__collection .collection .collection__group .collection__group__kid__gift .collection__group__kid {
    width: 48%;
  }
  .main__index .section__collection .collection .collection__group .collection__group__kid__gift .collection__group__kid .collection__group__kid__text {
    width: 100%;
    margin-top: -120px;
  }
  .main__index .section__collection .collection .collection__group .collection__group__kid__gift .collection__group__gift {
    width: 48%;
    margin-left: 4%;
  }
  .main__index .section__springCollection {
    margin-bottom: 50px;
  }
  .main__index .section__springCollection .springCollection {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .main__index .section__springCollection .springCollection .springCollection__img {
    margin-left: auto;
    width: 33%;
    height: 500px;
    background-image: url("./assets/img/grimpe1.jpg");
    background-size: cover;
  }
  .main__index .section__springCollection .springCollection .springCollection__text {
    margin-top: 100px;
  }
  .main__index .section__springCollection .springCollection .springCollection__text .springCollection__timer {
    font-size: 1.875rem;
    margin-top: 100px;
  }
  .main__index .section__springCollection .springCollection .springCollection__text .springCollection__timer .springCollection__timer__time span + span {
    margin-left: 8.8%;
  }
  .main__index .section__springCollection .springCollection .springCollection__text .springCollection__timer .springCollection__timer__title {
    color: #767676;
  }
  .main__index .section__springCollection .springCollection .springCollection__text .springCollection__timer .springCollection__timer__title span + span {
    margin-left: 5%;
  }
  .main__index .section__trendyProduct {
    margin-bottom: 100px;
  }
  .main__index .section__trendyProduct .trendyProduct__buttons {
    width: 50%;
    font-size: 1rem;
  }
  .main__index .section__trendyProduct .trendyProduct__buttons .trendyProduct__button {
    width: 20%;
    margin-bottom: 30px;
  }
  .main__index .section__trendyProduct .trendyProduct__buttons .trendyProduct__button__new .trendyProduct__button__new__border {
    width: 60%;
    margin-top: 5px;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #222222;
  }
  .main__index .section__trendyProduct .product__list {
    max-height: none;
  }
  .main__index .section__trendyProduct .product__list .product {
    visibility: visible;
  }
  .main__index .section__trendyProduct .trendyProduct__show__more {
    width: 15%;
  }
  .main__index .section__slider .product__list {
    max-height: none;
  }
  .main__index .section__infos {
    margin-bottom: 100px;
    justify-content: space-between;
  }
  .main__index .section__infos .section__infos__support, .main__index .section__infos .section__infos__delivery, .main__index .section__infos .section__infos__guarentee {
    margin-top: 20px;
  }
  .main__index .section__infos .section__infos__support div, .main__index .section__infos .section__infos__delivery div, .main__index .section__infos .section__infos__guarentee div {
    width: 100%;
  }
  .main__index .section__infos div {
    width: 30%;
  }
}

.section__oops .oops__content {
  width: 24%;
  margin: auto;
  text-align: center;
}
.section__oops .oops__content .oops_title {
  margin-top: 20vh;
  margin-bottom: 15px;
}
.section__oops .oops__content .oops__subtitle, .section__oops .oops__content .oops__infos {
  margin-bottom: 15px;
}

.section__terms .terms__item {
  margin-top: 30px;
  margin-bottom: 30px;
}
.section__terms .terms__item .terms__item__title {
  color: #222222;
  line-height: 22px;
  margin-bottom: 20px;
}
.section__terms .terms__item .terms__item__content {
  line-height: 30px;
}

.section__location {
  margin-bottom: 140px;
}
.section__location .location__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.section__location .location__content .location__map {
  margin-left: 2%;
  margin-top: 20px;
  width: 100%;
  min-height: 400px;
}
.section__location .location__content .location__search {
  width: 100%;
}
.section__location .location__content .location__search .location__search__icon {
  margin-left: -30px;
  vertical-align: middle;
  cursor: pointer;
}
.section__location .location__content .location__search .location__search__store .location__store__infos {
  margin-bottom: 10px;
}
.section__location .location__content .location__search .location__search__store .show__location__button {
  width: 50%;
  cursor: pointer;
}
.section__location .location__content .location__search .location__search__store .show__location__button .show__location__store {
  color: #222222;
}
.section__location .location__content .location__search .location__search__store .show__location__button .show__location__store__border {
  width: 35%;
  margin-top: 5px;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #222222;
}
.section__location .location__content .location__search .location__search__store + .location__search__store {
  margin-top: 20px;
  border-top-style: solid;
  border-width: 2px;
  border-color: #E4E4E4;
}
@media (min-width: 990px) {
  .section__location .location__content .location__map {
    margin-left: 2%;
    width: 65%;
    min-height: none;
  }
  .section__location .location__content .location__search {
    width: 30%;
  }
}

.main__faq .section__faq .faq__theme .faq__item {
  margin-bottom: -120px;
}
.main__faq .section__faq .faq__theme .faq__item .faq__subtitle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #E4E4E4;
}
.main__faq .section__faq .faq__theme .faq__item .faq__subtitle .subtitle__toggle {
  margin-top: 15px;
  margin-left: 5%;
}
.main__faq .section__faq .faq__theme .faq__item .faq__subtitle:hover {
  cursor: pointer;
}
.main__faq .section__faq .faq__theme .faq__item .faq__content {
  visibility: hidden;
}
@media (min-width: 990px) {
  .main__faq .section__faq .faq__theme .faq__item {
    margin-bottom: -50px;
  }
}

.shopSingle__footer {
  margin-top: -680px;
}
@media (min-width: 980px) {
  .shopSingle__footer {
    margin-top: 0;
  }
}

.shop__single .related__product {
  visibility: hidden;
}
.shop__single .related__product .related__product__grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.shop__single .single__main__infos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.shop__single .single__main__infos .main__infos__big__img {
  margin-bottom: 10px;
  width: 100%;
}
.shop__single .single__main__infos .main__infos__big__img img {
  width: 100%;
}
.shop__single .single__main__infos .main__infos__thumbnails {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.shop__single .single__main__infos .main__infos__thumbnails img {
  cursor: pointer;
  width: 22%;
  filter: grayscale(1);
}
.shop__single .single__main__infos .main__infos__thumbnails img:hover {
  filter: grayscale(0);
}
.shop__single .single__main__infos .main__infos__thumbnails .infos__thumbnails__grimpe__third {
  filter: grayscale(0);
}
.shop__single .single__main__infos .main__infos__product {
  margin-bottom: 20px;
}
.shop__single .single__main__infos .main__infos__product .product__title {
  font-size: 1.25rem;
  margin-bottom: 20px;
}
.shop__single .single__main__infos .main__infos__product .product__price {
  font-size: 1.375rem;
  margin-bottom: 30px;
}
.shop__single .single__main__infos .main__infos__product p {
  letter-spacing: 0.6px;
}
.shop__single .single__main__infos .main__infos__product .product__add {
  margin: 30px 0px;
  color: #767676;
}
.shop__single .single__main__infos .main__infos__product .product__add .product__add__button {
  cursor: pointer;
}
.shop__single .single__main__infos .main__infos__product .product__add .product__add__button__more {
  margin-left: 15%;
}
.shop__single .single__main__infos .main__infos__product .product__add .product__add__button__less {
  margin-left: -25%;
}
.shop__single .single__main__infos .main__infos__product .product__buttons {
  margin-bottom: 20px;
}
.shop__single .single__main__infos .main__infos__product .product__buttons span {
  cursor: pointer;
  letter-spacing: 0.5px;
}
.shop__single .single__main__infos .main__infos__product .product__buttons span .product__buttons__wishlist, .shop__single .single__main__infos .main__infos__product .product__buttons span .product__buttons__share {
  margin-left: 2%;
  line-height: 24px;
}
.shop__single .single__main__infos .main__infos__product .product__buttons span + span {
  margin-left: 5%;
}
.shop__single .single__main__infos .main__infos__product .product__tags div + div {
  margin-top: 10px;
}
.shop__single .single__main__infos .main__infos__product .product__tags .product__tags__title {
  color: #767676;
}
.shop__single .single__main__additionnal__infos .main__additionnal__infos__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.shop__single .single__main__additionnal__infos .main__additionnal__infos__links .additionnal__infos__items {
  text-align: center;
  width: 50%;
  cursor: pointer;
}
.shop__single .single__main__additionnal__infos .main__additionnal__infos__links .additionnal__infos__links__description .additionnal__infos__links__description__style {
  border-bottom-style: solid;
  border-width: 3px;
  border-color: #222222;
}
.shop__single .single__main__additionnal__infos .main__additionnal__infos__links .additionnal__infos__links__infos, .shop__single .single__main__additionnal__infos .main__additionnal__infos__links .additionnal__infos__links__reviews {
  color: #767676;
}
.shop__single .single__main__additionnal__infos .main__additionnal__infos__links .additionnal__infos__links__reviews {
  width: 100%;
}
.shop__single .single__main__additionnal__infos .main__additionnal__infos__description .additionnal__infos__description__main {
  margin-bottom: 30px;
}
.shop__single .single__main__additionnal__infos .main__additionnal__infos__description .additionnal__infos__description__main .additionnal__infos__description__main__title {
  margin-bottom: 20px;
}
.shop__single .single__main__additionnal__infos .main__additionnal__infos__description .additionnal__infos__description__more {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.shop__single .single__main__additionnal__infos .main__additionnal__infos__description .additionnal__infos__description__more .infos__description__more__items {
  margin-bottom: 20px;
  width: 100%;
}
.shop__single .single__main__additionnal__infos .main__additionnal__infos__description .additionnal__infos__description__more .infos__description__more__items ul, .shop__single .single__main__additionnal__infos .main__additionnal__infos__description .additionnal__infos__description__more .infos__description__more__items ol {
  padding: 0;
  margin: 20px;
  letter-spacing: 0.6px;
  color: #767676;
}
.shop__single .single__main__additionnal__infos .main__additionnal__infos__description .additionnal__infos__description__more .infos__description__more__items ul li .list__item, .shop__single .single__main__additionnal__infos .main__additionnal__infos__description .additionnal__infos__description__more .infos__description__more__items ol li .list__item {
  color: #222222;
}
.shop__single .single__main__additionnal__infos .main__additionnal__infos__description .additionnal__infos__description__more .infos__description__more__items ul li + li, .shop__single .single__main__additionnal__infos .main__additionnal__infos__description .additionnal__infos__description__more .infos__description__more__items ol li + li {
  margin-top: 5px;
}
.shop__single .single__main__additionnal__infos .main__additionnal__infos__description .additionnal__infos__description__more .infos__description__more__items .infos__description__more__items__title {
  margin-bottom: 10px;
}
.shop__single .single__main__additionnal__infos .main__additionnal__infos__additionnal {
  height: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.shop__single .single__main__additionnal__infos .main__additionnal__infos__additionnal .additionnal__infos__additionnal__titles div + div, .shop__single .single__main__additionnal__infos .main__additionnal__infos__additionnal .additionnal__infos__additionnal__content div + div {
  margin-top: 25px;
}
.shop__single .single__main__additionnal__infos .main__additionnal__infos__additionnal .additionnal__infos__additionnal__titles {
  width: 20%;
}
.shop__single .single__main__additionnal__infos .main__additionnal__infos__additionnal .additionnal__infos__additionnal__content {
  margin-left: 10%;
  width: 70%;
}
.shop__single .single__main__additionnal__infos .main__additionnal__infos__reviews {
  height: 0;
}
.shop__single .single__main__additionnal__infos .main__additionnal__infos__reviews .additionnal__infos__reviews__commentaries {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.shop__single .single__main__additionnal__infos .main__additionnal__infos__reviews .additionnal__infos__reviews__commentaries .additionnal__infos__reviews__commentaries__profile {
  width: 10%;
}
.shop__single .single__main__additionnal__infos .main__additionnal__infos__reviews .additionnal__infos__reviews__commentaries .additionnal__infos__reviews__commentaries__profile .additionnal__infos__reviews__commentaries__profile__img {
  height: 70px;
  width: 70px;
  background-color: #bbb;
  border-radius: 50%;
}
.shop__single .single__main__additionnal__infos .main__additionnal__infos__reviews .additionnal__infos__reviews__commentaries .additionnal__infos__reviews__commentaries__content {
  margin-left: 10%;
}
.shop__single .single__main__additionnal__infos .main__additionnal__infos__reviews .additionnal__infos__reviews__commentaries .additionnal__infos__reviews__commentaries__content .additionnal__infos__reviews__commentaries__rating {
  width: 100%;
  text-align: right;
  margin-bottom: -20px;
}
.shop__single .single__main__additionnal__infos .main__additionnal__infos__reviews .additionnal__infos__reviews__commentaries .additionnal__infos__reviews__commentaries__content .additionnal__infos__reviews__commentaries__content__date {
  margin-top: 5px;
  margin-bottom: 20px;
}
.shop__single .single__main__additionnal__infos .main__additionnal__infos__reviews .additionnal__infos__reviews__commentaries + .additionnal__infos__reviews__commentaries {
  border-top-style: solid;
  border-width: 3px;
  border-color: #E4E4E4;
  margin-top: 30px;
  padding-top: 30px;
}
.shop__single .single__main__additionnal__infos .additionnal__infos__reviews__comment__section {
  margin-top: 70px;
}
.shop__single .single__main__additionnal__infos .additionnal__infos__reviews__comment__section .additionnal__infos__reviews__comment {
  margin-top: 40px;
}
.shop__single .single__main__additionnal__infos .main__additionnal__infos__additionnal, .shop__single .single__main__additionnal__infos .main__additionnal__infos__reviews {
  visibility: hidden;
}
@media (min-width: 980px) {
  .shop__single .related__product {
    visibility: visible;
    margin-bottom: 100px;
  }
  .shop__single .single__main__infos .main__infos__big__img {
    margin-bottom: 0px;
    margin-left: 0.5%;
    width: 50%;
  }
  .shop__single .single__main__infos .main__infos__big__img img {
    width: 100%;
  }
  .shop__single .single__main__infos .main__infos__thumbnails {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0px;
    width: 6%;
    order: -1;
  }
  .shop__single .single__main__infos .main__infos__thumbnails img {
    width: 100%;
  }
  .shop__single .single__main__infos .main__infos__thumbnails img + img {
    margin-top: 10px;
  }
  .shop__single .single__main__infos .main__infos__product {
    margin-left: 2%;
    width: 41%;
  }
  .shop__single .single__main__infos .main__infos__product .product__add {
    width: 85%;
  }
  .shop__single .single__main__infos .main__infos__product .product__add .product__add__button__less {
    margin-left: -23.5%;
  }
  .shop__single .single__main__additionnal__infos .main__additionnal__infos__links {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .shop__single .single__main__additionnal__infos .main__additionnal__infos__links .additionnal__infos__items {
    width: 30%;
  }
  .shop__single .single__main__additionnal__infos .main__additionnal__infos__description .additionnal__infos__description__more {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .shop__single .single__main__additionnal__infos .main__additionnal__infos__description .additionnal__infos__description__more .infos__description__more__items {
    width: 50%;
  }
}

.shop__list {
  margin-bottom: 100px;
}
.shop__list .shop__list__nav {
  margin-bottom: 50px;
}
.shop__list .shop__list__nav .shop__list__nav__img {
  visibility: hidden;
  height: 0;
}
.shop__list .shop__list__nav .shop__list__nav__title {
  font-size: 1.875rem;
  text-align: center;
}
.shop__list .shop__list__nav .shop__list__nav__link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.shop__list .shop__list__nav .shop__list__nav__link a {
  min-width: 18%;
  width: auto;
}
@media (min-width: 980px) {
  .shop__list .shop__list__nav {
    background-image: url("assets/img/bglist.svg");
    background-size: 100%;
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 82px;
  }
  .shop__list .shop__list__nav .shop__list__nav__img {
    visibility: visible;
  }
  .shop__list .shop__list__nav .shop__list__nav__title {
    visibility: hidden;
    margin-top: 50px;
  }
  .shop__list .shop__list__nav .shop__list__nav__link {
    display: inline;
  }
  .shop__list .shop__list__nav .shop__list__nav__link a + a {
    margin-left: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
