.section__oops {
  .oops__content {
    width: 24%;
    margin: auto;
    text-align: center;

    .oops_title {
      margin-top: 20vh;
      margin-bottom: 15px;
    }

    .oops__subtitle, .oops__infos {
      margin-bottom: 15px;
    }
  }
}
