.main__faq {
  .section__faq {

    .faq__theme {

      .faq__item {
        //margin-bottom: -50px;
        margin-bottom: -120px;

        .faq__subtitle {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          border-bottom-style: solid;
          border-width: 2px;
          border-color: #E4E4E4;

          .subtitle__toggle{
            margin-top: 15px;

            margin-left: 5%;
          }
        }

        .faq__subtitle:hover {
          cursor: pointer;
        }

        .faq__content {
          visibility: hidden;
        }
      }
    }

    @media (min-width: 990px) {
      .faq__theme {
        .faq__item {
          margin-bottom: -50px;
        }
      }
    }

  }
}
