.main__index {

  .section__uomo {
    margin-top: 50px;

    .product__image__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .product__image {
        width: 30%;


        img {
          width: 100%;
          height: 150px;
        }
      }
    }
  }

  .section__collection {
    .collection {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;


      .item {
        background-color: #F2F3F7;
        width: 100%;
        min-height: 250px;
        max-height: 250px;
      }

      .collection__women {
        img {
          margin-left: 30%;
          width: 70%;

          height: 100%;
        }

        .collection__women__text {
          margin-top: -160px;
          margin-left: 7%;
          width: 50%;

          .collection__text__title {
            margin: 5px 0;
          }
        }
      }

      .collection__group {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 10px;

        .collection__group__men {

          img {
            margin-left: 50%;
            width: 50%;
            height: 100%;
          }

          .collection__group__men__text {
            margin-top: -155px;
            margin-left: 7%;
            width: 40%;

            .collection__text__title {
              margin: 5px 0;
            }
          }
        }

        .collection__group__kid__gift {
          margin-top: 10px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          .collection__group__kid {

            .collection__group__kid__text {
              margin-top: -155px;
              margin-left: 7%;
              width: 40%;

              .collection__text__title {
                margin: 5px 0;
              }
            }

            img {
              width: 60%;
              margin-left: 40%;
              height: 100%;
            }

          }

          .collection__group__gift {
            margin-top: 10px;

            .collection__group__gift__text {
              width: 60%;
              margin-top: 50px;
              margin-left: 7%;

              .collection__text__title {
                width: 40%;
              }

              .collection__text__p {
                margin: 10px 0;
              }
            }
          }

        }
      }
    }
  }

  .section__gender {
    margin-bottom: 20px;

    .gender {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .gender__women__text {
        margin-top: -100px;
        margin-left: 5%;

        letter-spacing: 0.6px;
        color: white;
      }

      .gender__men__text {
        margin-top: -100px;
        margin-left: 5%;
      }

      .gender__filter {
        background-color: red;

        .gender__women {
          mix-blend-mode: darken;


        }

        .gender__women {
          width: 100%;
          background-color: #EAE9E7;

          .gender__women__img {
            width: 70%;
            margin-left: auto;


            img {
              width: 100%;
              max-height: 250px;
              min-height: 250px;
              //height: 350px;
            }
          }
        }
      }

      .gender__men {
        padding-top: 10px;

        .gender__men__img {
          width: 100%;
          //margin-left: auto;

          img {
            width: 100%;
            max-height: 250px;
            min-height: 250px;
          }
        }
      }
    }
  }

  .section__discover__background {
    width: 100%;
    margin: 0;
    background-image: url("./assets/img/bg_mobile.svg");
    margin-bottom: 100px;

    .discover {

      .discover__img {
        margin-top: -310px;
        margin-left: 40%;

        width: 65%;
        height: 530px;
        background-image: url("./assets/img/grimpe1.jpg");
        background-size: cover;
      }

      .section__discover__text {
        width: 80%;
        padding-top: 200px;


        .section__discover__title {
          font-size: 1.875rem;
          margin: 0;
        }
      }
    }
  }

  .section__trendyProduct {
    margin-bottom: 20px;

    .trendyProduct__buttons {
      width: 70%;
      margin: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;

      .trendyProduct__button {
        width: 33%;
        margin-bottom: 10px;
        cursor: pointer;
      }

      .trendyProduct__button__new {
        .trendyProduct__button__new__border {
          width: 50%;
          margin-top: 5px;
          border-bottom-style: solid;
          border-width: 2px;
          border-color: #222222;
        }
      }

    }

    .product__list {
      max-height: 750px;
    }


    .trendyProduct__show__more {
      width: 40%;
      cursor: pointer;
      margin: auto;
      color: #222222;

      .trendyProduct__show__more__border {
        width: 50%;
        margin-top: 5px;
        border-bottom-style: solid;
        border-width: 2px;
        border-color: #222222;
      }

    }
  }

  .section__springCollection {
    background-color: #F5E6E0;
    padding-bottom: 20px;
    margin-bottom: 20px;

    .springCollection {

      .springCollection__text {
        padding-top: 50px;

        .springCollection__button {
          width: 25%;
          margin-bottom: 30px;
          cursor: pointer;

          .springCollection__button__border {
            width: 40%;
            margin-top: 5px;
            border-bottom-style: solid;
            border-width: 2px;
            border-color: #222222;
          }
        }



        .springCollection__title {
          margin-top: 0;
          margin-bottom: 0;
        }
        .springCollection__timer {


          .springCollection__timer__time {
            span+span {
              margin-left: 7%;
            }
          }

          .springCollection__timer__title {
            color: #767676;
            span+span {
              margin-left: 4.5%;
            }
          }
        }
      }
    }
  }

  .section__slider {
    margin-bottom: 100px;

    .product__list {
      max-height: 300px;
    }
  }

  .section__infos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 30px;

    .section__infos__support {
      margin-top: 20px;
    }

    .section__infos__delivery {
      margin-top: 100px;
    }

    .section__infos__guarentee {
      margin-top: 100px;
    }

    div {
      width: 100%;
    }

  }

  @media (min-width: 990px) {

    .section__uomo {
      margin-bottom: 100px;

      .product__image__list {

        .product__image {
          width: 15%;


          img {
            width: 100%;
            height: 150px;
          }
        }
      }
    }

    .section__gender {
      margin-bottom: 100px;

      .gender {
        width: 100%;

        .gender__women__text {
          margin-left: -81%;
          margin-top: 200px;

          letter-spacing: 0.6px;
          color: white;
        }

        .gender__men__text {
          margin-left: -80%;
          margin-right: 32%;
          margin-top: 200px;

          letter-spacing: 0.6px;
        }

        .gender__filter {
          width: 48%;
          height: 100%;

          .gender__women {
            width: 100%;

            background-color: #EAE9E7;

            .gender__women__img {
              width: 70%;
              margin-left: auto;


              img {
                width: 100%;
                min-height: none;
                max-height: none;
                height: 300px;
              }
            }
          }
        }

        .gender__men {
          width: 48%;
          margin-top: -10px;

          .gender__men__img {
            width: 100%;
            //margin-left: auto;

            img {
              width: 100%;
              min-height: none;
              max-height: none;
              height: 300px;
            }
          }
        }
      }
    }

    .section__discover {
      margin-bottom: 100px;

      .section__discover__background {

        width: 93%;
        margin: auto;
        background-image: url("./assets/img/bg.svg");
        background-size: 100%;

        .discover {
          padding-bottom: 9px;
          height: 100%;

          .discover__img {
            margin-top: -460px;
            margin-left: 65%;

            width: 25%;
            background-size: cover;
          }

          .section__discover__text {
            width: 80%;
            padding-top: 300px;
            margin-left: -50px;

            .section__discover__title {
              font-size: 4.375rem;
            }
          }
        }
      }
    }

    .section__collection {
      margin-bottom: 100px;
      .collection {

        .item {
          background-color: #F2F3F7;
          max-height: none;
          min-height: none;
        }

        .collection__women {
          width: 48%;

          .collection__women__text {
            margin-top: -130px;
            margin-left: 4%;
          }
        }

        .collection__group {
          width: 48%;
          margin-left: 10px;
          .collection__group__men {
            margin-top: -10px;

            .collection__group__men__text {
              margin-top: -120px;
              margin-left: 3%;
            }
          }

          .collection__group__kid__gift {

            .collection__group__kid {
              width: 48%;

              .collection__group__kid__text {
                width: 100%;
                margin-top: -120px;
              }
            }

            .collection__group__gift {
              width: 48%;
              margin-left: 4%;
            }
          }
        }
      }
    }


    .section__springCollection {
      margin-bottom: 50px;

      .springCollection {
        display: flex;
        flex-direction: row;
        padding-top: 40px;
        padding-bottom: 40px;

        .springCollection__img {
          margin-left: auto;
          width: 33%;
          height: 500px;
          background-image: url("./assets/img/grimpe1.jpg");
          background-size: cover;
        }

        .springCollection__text {
          margin-top: 100px;

          .springCollection__timer {
            font-size: 1.875rem;
            margin-top: 100px;

            .springCollection__timer__time {
              span+span {
                margin-left: 8.8%;
              }
            }

            .springCollection__timer__title {
              color: #767676;
              span+span {
                margin-left: 5%;
              }
            }

          }
        }

      }
    }
    .section__trendyProduct {
      margin-bottom: 100px;

      .trendyProduct__buttons {
        width: 50%;
        font-size: 1rem;

        .trendyProduct__button {
          width: 20%;
          margin-bottom: 30px;
        }

        .trendyProduct__button__new {
          .trendyProduct__button__new__border {
            width: 60%;
            margin-top: 5px;
            border-bottom-style: solid;
            border-width: 2px;
            border-color: #222222;
          }
        }

      }

      .product__list {
        max-height: none;

        .product {
          visibility: visible;
        }
      }

      .trendyProduct__show__more {
        width: 15%;
      }
    }

    .section__slider {

      .product__list {
        max-height: none;
      }
    }

    .section__infos {
      margin-bottom: 100px;
      justify-content: space-between;

      .section__infos__support, .section__infos__delivery, .section__infos__guarentee {
        margin-top: 20px;

        div {
          width: 100%;

        }
      }

      div {
        width: 30%;
      }
    }
  }

}
