.section__location {
  margin-bottom: 140px;

  .location__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    .location__map {
      margin-left: 2%;
      margin-top: 20px;
      width: 100%;
      min-height: 400px;
    }

    .location__search {
      width: 100%;

      .location__search__icon {
        margin-left: -30px;
        vertical-align: middle;
        cursor: pointer;
      }

      .location__search__store {

        .location__store__infos {
          margin-bottom: 10px;
        }


        .show__location__button {
          width: 50%;
          cursor: pointer;

          .show__location__store {
            color: #222222;
          }

          .show__location__store__border {
            width: 35%;
            margin-top: 5px;
            border-bottom-style: solid;
            border-width: 2px;
            border-color: #222222;
          }
        }

      }

      .location__search__store+.location__search__store {
        margin-top: 20px;
        border-top-style: solid;
        border-width: 2px;
        border-color: #E4E4E4;
      }

    }

  }
  @media (min-width: 990px) {
    .location__content {

      .location__map {
        margin-left: 2%;
        width: 65%;
        min-height: none;
      }

      .location__search {
        width: 30%;
      }
    }
  }

}
