.shopSingle__footer {
    margin-top: -680px;

    @media (min-width: 980px) {
      margin-top: 0;
    }
}

.shop__single {

  .related__product {
    //margin-top: -400px;
    visibility: hidden;


    .related__product__grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .single__main__infos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .main__infos__big__img {
      margin-bottom: 10px;
      width: 100%;

      img {
        width: 100%;
      }
    }

    .main__infos__thumbnails {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;

      img {
        cursor: pointer;
        width: 22%;
        filter: grayscale(1);
      }

      img:hover {
        filter: grayscale(0);
      }

      .infos__thumbnails__grimpe__third {
        filter: grayscale(0);
      }
    }

    .main__infos__product {
      margin-bottom: 20px;

      .product__title {
        font-size: 1.25rem;
        margin-bottom: 20px;
      }

      .product__price {
        font-size: 1.375rem;
        margin-bottom: 30px;
      }

      p {
        letter-spacing: 0.6px;
      }

      .product__add {
        margin: 30px 0px;
        color: #767676;

        .product__add__button {
          cursor: pointer;
        }

        .product__add__button__more {
          margin-left: 15%;
        }

        .product__add__button__less {
          margin-left: -25%;
        }
      }

      .product__buttons {
        margin-bottom: 20px;

        span {
          cursor: pointer;
          letter-spacing: 0.5px;

          .product__buttons__wishlist, .product__buttons__share {
            margin-left: 2%;
            line-height: 24px;
          }
        }

        span+span {
          margin-left: 5%;
        }
      }

      .product__tags {

        div+div {
          margin-top: 10px;
        }

        .product__tags__title {
          color: #767676;
        }
      }
    }
  }

  .single__main__additionnal__infos {



    .main__additionnal__infos__links {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 20px;

      .additionnal__infos__items {
        text-align: center;
        width: 50%;
        cursor: pointer;
      }

      .additionnal__infos__links__description {

        .additionnal__infos__links__description__style {
          border-bottom-style: solid;
          border-width: 3px;
          border-color: #222222;
        }

      }

      .additionnal__infos__links__infos, .additionnal__infos__links__reviews {
        color: #767676;
      }

      .additionnal__infos__links__reviews {
        width: 100%;
      }
    }

    .main__additionnal__infos__description {

      .additionnal__infos__description__main {
        margin-bottom: 30px;

        .additionnal__infos__description__main__title {
          margin-bottom: 20px;
        }
      }

      .additionnal__infos__description__more {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .infos__description__more__items {
          margin-bottom: 20px;
          width: 100%;

          ul, ol {
            padding: 0;
            margin: 20px;
            letter-spacing: 0.6px;
            color: #767676;

            li {
              .list__item {
                color: #222222;
              }
            }

            li+li {
              margin-top: 5px;
            }
          }

          .infos__description__more__items__title {
            margin-bottom: 10px;
          }
        }
      }
    }

    .main__additionnal__infos__additionnal {
      //margin-top: -600px;
      height: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .additionnal__infos__additionnal__titles, .additionnal__infos__additionnal__content {

        div+div {
          margin-top: 25px;
        }
      }

      .additionnal__infos__additionnal__titles {
        width: 20%;
      }

      .additionnal__infos__additionnal__content {
        margin-left: 10%;
        width: 70%;
      }
    }

    .main__additionnal__infos__reviews {
      //margin-top: -200px;
      height: 0;
      .additionnal__infos__reviews__commentaries {
        display: flex;
        flex-direction: row;
        margin-top: 20px;

        .additionnal__infos__reviews__commentaries__profile {
          width: 10%;

          .additionnal__infos__reviews__commentaries__profile__img {
            height: 70px;
            width: 70px;
            background-color: #bbb;
            border-radius: 50%;
          }
        }

        .additionnal__infos__reviews__commentaries__content {
          margin-left: 10%;

          .additionnal__infos__reviews__commentaries__rating {
            width: 100%;
            text-align: right;
            margin-bottom: -20px;
          }

          .additionnal__infos__reviews__commentaries__content__date {
            margin-top: 5px;
            margin-bottom: 20px;
          }
        }
      }

      .additionnal__infos__reviews__commentaries+.additionnal__infos__reviews__commentaries {
        border-top-style: solid;
        border-width: 3px;
        border-color: #E4E4E4;
        margin-top: 30px;
        padding-top: 30px;
      }
    }

    .additionnal__infos__reviews__comment__section {
      margin-top: 70px;

      .additionnal__infos__reviews__comment {
        margin-top: 40px;
      }
    }


    .main__additionnal__infos__additionnal, .main__additionnal__infos__reviews {
      visibility: hidden;
    }

  }

  @media (min-width: 980px) {
    .related__product {
      visibility: visible;
      //margin-top: -600px;
      margin-bottom: 100px;
    }

    .single__main__infos {

      .main__infos__big__img {
        margin-bottom: 0px;
        margin-left: 0.5%;
        width: 50%;


        img {
          width: 100%;
        }
      }

      .main__infos__thumbnails {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 0px;
        width: 6%;
        order: -1;

        img {
          width: 100%;

        }
        img+img {
          margin-top: 10px;
        }
      }

      .main__infos__product {
        margin-left: 2%;
        width: 41%;

        .product__add {
          width: 85%;

          .product__add__button__less {
            margin-left: -23.5%;
          }
        }
      }
    }

    .single__main__additionnal__infos {


      .main__additionnal__infos__links {
        margin-top: 20px;
        margin-bottom: 30px;

        .additionnal__infos__items {
          width: 30%;
        }
      }

      .main__additionnal__infos__description {


        .additionnal__infos__description__more {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          .infos__description__more__items {
            //margin-bottom: 20px;
            width: 50%;
          }
        }
      }

      .main__additionnal__infos__additionnal {
        //margin-top: -370px;
      }

    }
  }
}
