.shop__list {
  margin-bottom: 100px;


  .shop__list__nav {
    margin-bottom: 50px;

    .shop__list__nav__img {
      visibility: hidden;
      height: 0;
    }

    .shop__list__nav__title {
        font-size: 1.875rem;
        text-align: center;
    }

    .shop__list__nav__link {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      a {
        min-width: 18%;
        width: auto;
      }
    }
  }

  @media (min-width: 980px) {

    .shop__list__nav {
      background-image: url("assets/img/bglist.svg");
      background-size: 100%;
      padding-top: 100px;
      padding-left: 100px;
      padding-bottom: 82px;

      .shop__list__nav__img {
        visibility: visible;
      }

      .shop__list__nav__title {
        visibility: hidden;
        margin-top: 50px
      }

      .shop__list__nav__link {
        display: inline;

        a+a {
          margin-left: 20px;
          //width: auto;
        }
      }
    }
  }
}
