.section__terms {

  .terms__item {
    margin-top: 30px;
    margin-bottom: 30px;

    .terms__item__title {
      color: #222222;
      line-height: 22px;
      margin-bottom: 20px;
    }

    .terms__item__content {
      line-height: 30px;
    }
  }
}
