.input__footer__subscribe {
  padding: 15px 20px;
  width: 80%;
  border: none;
}

.input__location__search {
  padding: 15px 20px;
  width: 80%;
}

.input__product__number {
  padding: 20px 20px;
  width: 20%;
  border: 2px solid #E4E4E4;
  text-align: center;
}

.input__comment {
  width: 100%;
  margin-top: 20px;
  border: 2px solid #E4E4E4;
  padding: 10px 20px;
}

.input__comment:focus {
    color: #222222;
}

.input__comment__checkbox {
  margin-top: 20px;
}
