.product__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .product__hidden {
    visibility: hidden;
  }

  .product {
    width: 48%;
    margin-bottom: 20px;
    .product__img {
      width: 100%;

      img {
        width: 100%;
        height: 250px;
      }

    }

    .product__infos__type {
      margin-bottom: 5px;
    }

    .product__like {
      margin-left: 75%;
    }
  }

  @media (min-width: 980px) {
    .product__hidden {
      visibility: visible;
    }

    .product {
      width: 22%;
      margin-bottom: 50px;

      .product__img {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }
  }
}
