.button__footer__subscribe {
  padding: 10px 15px;
  margin-left: -55px;
  background: transparent;
  border: none;
  text-transform: uppercase;
}

.button__black {
  background: #222222;
  color: #FFFFFF;
  border: none;
  padding: 20px 50px;
}

.button__black__product {
  margin-left: 10%;
  width: 60%;
}

.button__black__comment {
  margin-top: 20px;
  padding: 20px 70px;
}
