s/******************************************************************************
**************                  COLOR                        *******************
******************************************************************************/

.font--color--primary {
  color: #222222;
}

.font--color--second {
  color: #767676;
}

.font--color--third {
  color: #C32929;
}

.--yellow {
  color: #EEBA36;
}

/******************************************************************************
**************                  SIZE                        *******************
******************************************************************************/
.font--size--XL {
  font-size: 6.25rem;
}

.font--size--1XL {
  font-size: 4.375rem;
}

.font--size--L {
  font-size: 2.188rem;
}

.font--size--LM {
  font-size: 1.625rem;
}

.font--size--SLM {
  font-size: 1.375rem;
}

.font--size--M {
  font-size: 1.125rem;
}

.font--size--SM {
  font-size: 1rem;
}

.font--size--S {
  font-size: 0.875rem;
}

.font--size--XS {
  font-size: 0.813rem;
}


/******************************************************************************
**************                  WEIGHT                        *******************
******************************************************************************/
.--big--bold {
  font-weight: 700;
}

.--bold {
  font-weight: 500;
}

.--light {
  font-weight: 400;
}

.--uppercase {
  text-transform: uppercase;
}

.--section--title {
  text-align: center;
  margin-bottom: 30px;
}
