.container {
  width: 90%;
  margin-left: 5%;
  //

  @media (min-width: 980px) {
    width: 80%;
    margin: auto;
  }
}






.container__small {
  width: 95%;
  margin: auto;
  margin-bottom: 50px;


  @media (min-width: 980px) {
    width: 61%;
    margin: auto;
    margin-bottom: 140px;
  }

}
