footer {


  background-color: #E4E4E4;


  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    margin-left: 3%;

    .company__infos {
      width: 100%;


      .company__address {
        margin: 40px 0;
      }

      .company__social {
        margin-top: 40px;

        span+span {
          margin-left: 10%;
        }
      }

      .company__contact {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      }
    }


    .footer__nav {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;


      div {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
      }

    }

    .footer__subscribe {
      width: 100%;

      .img__footer__payment {
        width: 80%;
      }
    }

    .footer__copyright {
      padding-top: 20px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      border-top-style: solid;
      border-width: 1px;
      border-color: #CFCDCD;

      .selection__copyright {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        .language__selection {
          padding-top: 20px;
          width: 100%;
        }

        .currency__selection {
          padding-top: 20px;
          padding-bottom: 20px;
          width: 100%;
        }

        span+span {
          margin-left: 10%;
        }
      }
    }
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      vertical-align: middle;

      a {
        text-decoration: none;
      }

      a:visited, a:link {
        color: #222222;
      }

      a:hover {
        color: #767676;
      }
    }
    li+li {
      margin-top: 20px;
    }
  }

  @media (min-width: 990px) {
    background-color: #E4E4E4;
    padding: 50px 0;

    .container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      margin: auto;

      .company__infos {
        width: 20%;
      }

      .footer__nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        width: 40%;

        div {
          display: flex;
          flex-wrap: wrap;
          width: 30%;
        }
      }

      .footer__subscribe {
        width: 30%;
      }


      .footer__copyright {
        margin-top: 50px;
        padding-top: 30px;
        width: 100%;

        .selection__copyright {
          text-align: right;
          width: 60%;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;

          .language__selection {
            width: 60%;
          }

          .currency__selection {
            width: 30%;
          }

          span+span {
            margin-left: 5%;
          }
        }
      }

    }



  }



}
