.main__navigation {
  width: 100%;
  text-transform: uppercase;

  vertical-align: middle;
  padding: 20px 0;

  .mobile__navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

  }

  .desktop__navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    visibility: hidden;
    height: 0;
  }

  .link__menu {
    width: 50%;
    margin-left: 20px;
  }

  .icon__menu {
    text-align: right;
    width: 30%;
    color: #222222;

    li+li {
      margin-left: 10%;

    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    li {
      display: inline;
      vertical-align: middle;
      a {
        text-decoration: none;
      }

      a:visited, a:link {
        color: #222222;
      }

      a:hover {
        border-width: 2px;
      }
    }

    li+li {
      margin-left: 2%;

    }

  }

  @media (min-width: 990px) {
    .desktop__navigation {
      visibility: visible;
      height: auto;
    }

    .mobile__navigation {
      visibility: hidden;
      height: 0;
    }
  }
}
